# Importing libraries and data

In [2]:
# import libraries
import pandas as pd
import numpy as np
import os
import matplotlib.pyplot as plt
import seaborn as sns
import scipy

In [3]:
#import data
path = r'C:\Users\Admin\Documents\Data Analytics Course\Achievement 6'
data_1 = pd.read_csv(os.path.join(path, 'School Nutrition Programs Reimbursement Claims (21-22).csv'))
data_2 = pd.read_csv(os.path.join(path, 'SchoolNutritionProgramsReimbursementClaims (20-21).csv'), index_col=[0])

# Cleaning Data Sets

### Data set 1

In [4]:
data_1.head()

,ProgramYear,ReportType,CEID,CEName,TypeOfAgency,TypeOfOrg,ESC,TDARegion,SiteID,SiteName,...,Milktotal,MilkADP,MilkServedFree,MilkServedReduced,MilkServedPaid,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,MilkReimbursement,TotalReimbursement
0,2021-2022,SCHOOLNUTRITIONPROGRAMCLAIMS,4,NECHES ISD,Educational Institution,Public,7,2,102,NECHES ELEMENTARY,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,263.0,0.0,263.00
1,2021-2022,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,1,PALESTINE H S,...,0.0,0.0,0.0,0.0,0.0,6436.46,29107.95,0.0,0.0,35544.41
2,2021-2022,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,41,PALESTINE MIDDLE,...,0.0,0.0,0.0,0.0,0.0,3522.97,17362.51,45.0,0.0,20930.48
3,2021-2022,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,101,NORTHSIDE PRI,...,0.0,0.0,0.0,0.0,0.0,2103.31,13616.40,32.0,0.0,15751.71
4,2021-2022,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,102,WASHINGTON EARLY CHILDHOOD CENTER,...,0.0,0.0,0.0,0.0,0.0,5449.41,8409.61,0.0,0.0,13859.02

In [5]:
data_1.shape

(20509, 48)

In [6]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20509 entries, 0 to 20508
Data columns (total 48 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ProgramYear             20509 non-null  object
 1   ReportType              20509 non-null  object
 2   CEID                    20509 non-null  int64
 3   CEName                  20509 non-null  object
 4   TypeOfAgency            20509 non-null  object
 5   TypeOfOrg               20509 non-null  object
 6   ESC                     20509 non-null  int64
 7   TDARegion               20509 non-null  int64
 8   SiteID                  20509 non-null  int64
 9   SiteName                20509 non-null  object
 10  COVIDMealSite           20509 non-null  object
 11  CountyDistrictCode      20432 non-null  object
 12  CECounty                20509 non-null  object
 13  SiteCounty              20509 non-null  object
 14  ClaimDate               20509 non-null  object
 15  EnrollmentQty           20509 non-null  float64
 16  FreeEligQty             20509 non-null  float64
 17  RedcEligQty             20509 non-null  float64
 18  PaidEligQty             20509 non-null  float64
 19  BreakfastDays           20509 non-null  float64
 20  BreakfastTotal          20509 non-null  float64
 21  BreakfastADP            20509 non-null  float64
 22  BreakfastServedFree     20509 non-null  float64
 23  BreakfastServedRedc     20509 non-null  float64
 24  BreakfastServedPaid     20509 non-null  float64
 25  LunchDays               20509 non-null  float64
 26  LunchTotal              20509 non-null  float64
 27  LunchADP                20509 non-null  float64
 28  LunchServedFree         20509 non-null  float64
 29  LunchServedRedc         20509 non-null  float64
 30  LunchServedPaid         20509 non-null  float64
 31  SnackDays               20509 non-null  float64
 32  SnackTotal              20509 non-null  float64
 33  SnackADP                20509 non-null  float64
 34  SnacksServedFree        20509 non-null  float64
 35  SnacksServedRedc        20509 non-null  float64
 36  SnacksServedPaid        20509 non-null  float64
 37  MilkDays                20509 non-null  float64
 38  Milktotal               20509 non-null  float64
 39  MilkADP                 20509 non-null  float64
 40  MilkServedFree          20509 non-null  float64
 41  MilkServedReduced       20509 non-null  float64
 42  MilkServedPaid          20509 non-null  float64
 43  BreakfastReimbursement  20509 non-null  float64
 44  LunchReimbursement      20509 non-null  float64
 45  SnackReimbursement      20509 non-null  float64
 46  MilkReimbursement       20509 non-null  float64
 47  TotalReimbursement      20509 non-null  float64
dtypes: float64(33), int64(4), object(11)
memory usage: 7.5+ MB

### Data set 2

In [7]:
data_2.head()

,ReportType,CEID,CEName,TypeOfAgency,TypeOfOrg,ESC,TDARegion,SiteID,SiteName,CountyDistrictCode,...,Milktotal,MilkADP,MilkServedFree,MilkServedReduced,MilkServedPaid,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,MilkReimbursement,TotalReimbursement
ProgramYear,,,,,,,,,,,,,,,,,,,,,
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,1034,ABILENE ISD,Educational Institution,Public,14,1,112,Jose Alcorta Sr. Elementary,221901.0,...,0.0,0.0,0.0,0.0,0.0,2564.44,11120.38,274.56,0.0,13959.38
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,844,NACOGDOCHES ISD,Educational Institution,Public,7,3,5,Margie Chumbley Academy for Success,174904.0,...,0.0,0.0,0.0,0.0,0.0,246.34,727.20,0.00,0.0,973.54
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,330,FAITH FAMILY KIDS INC,Educational Institution,Charter,10,2,2,OAK CLIFF FAITH FAMILY ACADEMY,70801.0,...,0.0,0.0,0.0,0.0,0.0,21657.58,42278.40,0.00,0.0,63935.98
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,1657,NEWMAN INTERNATIONAL SCHOOL OF ARLINGTON,Educational Institution,Charter,11,2,3,NEWMAN INTERNATIONAL ACADEMY OF ARLINGTON GIBBINS,220817.0,...,0.0,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.0,0.00
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,703,MUNDAY CISD,Educational Institution,Public,9,1,1,MUNDAY SECONDARY,138903.0,...,0.0,0.0,0.0,0.0,0.0,1767.60,5172.90,0.00,0.0,6940.50

In [8]:
data_2.shape

(36433, 46)

In [9]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36433 entries, 2020-2021 to 2020-2021
Data columns (total 46 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ReportType              36433 non-null  object
 1   CEID                    36433 non-null  int64
 2   CEName                  36433 non-null  object
 3   TypeOfAgency            36433 non-null  object
 4   TypeOfOrg               36433 non-null  object
 5   ESC                     36433 non-null  int64
 6   TDARegion               36433 non-null  int64
 7   SiteID                  36433 non-null  int64
 8   SiteName                36433 non-null  object
 9   CountyDistrictCode      36371 non-null  float64
 10  CECounty                36433 non-null  object
 11  SiteCounty              36433 non-null  object
 12  ClaimDate               36433 non-null  object
 13  EnrollmentQty           36433 non-null  float64
 14  FreeEligQty             36433 non-null  float64
 15  RedcEligQty             36433 non-null  float64
 16  PaidEligQty             36433 non-null  float64
 17  BreakfastDays           36433 non-null  float64
 18  BreakfastTotal          36433 non-null  float64
 19  BreakfastADP            36433 non-null  float64
 20  BreakfastServedFree     36433 non-null  float64
 21  BreakfastServedRedc     36433 non-null  float64
 22  BreakfastServedPaid     36433 non-null  float64
 23  LunchDays               36433 non-null  float64
 24  LunchTotal              36433 non-null  float64
 25  LunchADP                36433 non-null  float64
 26  LunchServedFree         36433 non-null  float64
 27  LunchServedRedc         36433 non-null  float64
 28  LunchServedPaid         36433 non-null  float64
 29  SnackDays               36433 non-null  float64
 30  SnackTotal              36433 non-null  float64
 31  SnackADP                36433 non-null  float64
 32  SnacksServedFree        36433 non-null  float64
 33  SnacksServedRedc        36433 non-null  float64
 34  SnacksServedPaid        36433 non-null  float64
 35  MilkDays                36433 non-null  float64
 36  Milktotal               36433 non-null  float64
 37  MilkADP                 36433 non-null  float64
 38  MilkServedFree          36433 non-null  float64
 39  MilkServedReduced       36433 non-null  float64
 40  MilkServedPaid          36433 non-null  float64
 41  BreakfastReimbursement  36433 non-null  float64
 42  LunchReimbursement      36433 non-null  float64
 43  SnackReimbursement      36433 non-null  float64
 44  MilkReimbursement       36433 non-null  float64
 45  TotalReimbursement      36433 non-null  float64
dtypes: float64(34), int64(4), object(8)
memory usage: 13.1+ MB

# Data consistency checks

### Data 1 - Addressing mixed type data

In [10]:
# checking for mixed type data
for col in data_1.columns.tolist():
  weird = (data_1[[col]].applymap(type) != data_1[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (data_1[weird]) > 0:
    print (col)

CountyDistrictCode

In [11]:
# changing 'CountyDistrictCode' column to string data type
data_1['CountyDistrictCode'] = data_1['CountyDistrictCode'].astype(str)

In [12]:
# re-checking for mixed type data
for col in data_1.columns.tolist():
  weird = (data_1[[col]].applymap(type) != data_1[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (data_1[weird]) > 0:
    print (col)

### Data 2 - Addressing mixed type data

In [13]:
# checking for mixed type data
for col in data_2.columns.tolist():
  weird = (data_2[[col]].applymap(type) != data_2[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (data_2[weird]) > 0:
    print (col)

# Addressing missing values

### Data 1

In [14]:
#finding missing values in each column
data_1.isnull().sum()

ProgramYear               0
ReportType                0
CEID                      0
CEName                    0
TypeOfAgency              0
TypeOfOrg                 0
ESC                       0
TDARegion                 0
SiteID                    0
SiteName                  0
COVIDMealSite             0
CountyDistrictCode        0
CECounty                  0
SiteCounty                0
ClaimDate                 0
EnrollmentQty             0
FreeEligQty               0
RedcEligQty               0
PaidEligQty               0
BreakfastDays             0
BreakfastTotal            0
BreakfastADP              0
BreakfastServedFree       0
BreakfastServedRedc       0
BreakfastServedPaid       0
LunchDays                 0
LunchTotal                0
LunchADP                  0
LunchServedFree           0
LunchServedRedc           0
LunchServedPaid           0
SnackDays                 0
SnackTotal                0
SnackADP                  0
SnacksServedFree          0
SnacksServedRedc          0
SnacksServedPaid          0
MilkDays                  0
Milktotal                 0
MilkADP                   0
MilkServedFree            0
MilkServedReduced         0
MilkServedPaid            0
BreakfastReimbursement    0
LunchReimbursement        0
SnackReimbursement        0
MilkReimbursement         0
TotalReimbursement        0
dtype: int64

No missing values

### Data 2

In [15]:
#finding missing values in each column
data_2.isnull().sum()

ReportType                 0
CEID                       0
CEName                     0
TypeOfAgency               0
TypeOfOrg                  0
ESC                        0
TDARegion                  0
SiteID                     0
SiteName                   0
CountyDistrictCode        62
CECounty                   0
SiteCounty                 0
ClaimDate                  0
EnrollmentQty              0
FreeEligQty                0
RedcEligQty                0
PaidEligQty                0
BreakfastDays              0
BreakfastTotal             0
BreakfastADP               0
BreakfastServedFree        0
BreakfastServedRedc        0
BreakfastServedPaid        0
LunchDays                  0
LunchTotal                 0
LunchADP                   0
LunchServedFree            0
LunchServedRedc            0
LunchServedPaid            0
SnackDays                  0
SnackTotal                 0
SnackADP                   0
SnacksServedFree           0
SnacksServedRedc           0
SnacksServedPaid           0
MilkDays                   0
Milktotal                  0
MilkADP                    0
MilkServedFree             0
MilkServedReduced          0
MilkServedPaid             0
BreakfastReimbursement     0
LunchReimbursement         0
SnackReimbursement         0
MilkReimbursement          0
TotalReimbursement         0
dtype: int64

The column with missing values is not necessary for analysis so I'll leave it.

# Addressing duplicates

### Data 1

In [16]:
# looking for duplicates in data1
data1_dups = data_1[data_1.duplicated()]
data1_dups

Empty DataFrame
Columns: [ProgramYear, ReportType, CEID, CEName, TypeOfAgency, TypeOfOrg, ESC, TDARegion, SiteID, SiteName, COVIDMealSite, CountyDistrictCode, CECounty, SiteCounty, ClaimDate, EnrollmentQty, FreeEligQty, RedcEligQty, PaidEligQty, BreakfastDays, BreakfastTotal, BreakfastADP, BreakfastServedFree, BreakfastServedRedc, BreakfastServedPaid, LunchDays, LunchTotal, LunchADP, LunchServedFree, LunchServedRedc, LunchServedPaid, SnackDays, SnackTotal, SnackADP, SnacksServedFree, SnacksServedRedc, SnacksServedPaid, MilkDays, Milktotal, MilkADP, MilkServedFree, MilkServedReduced, MilkServedPaid, BreakfastReimbursement, LunchReimbursement, SnackReimbursement, MilkReimbursement, TotalReimbursement]
Index: []

[0 rows x 48 columns]

No duplicates found

### Data 2

In [17]:
# looking for duplicates in data2
data2_dups = data_2[data_2.duplicated()]
data2_dups

Empty DataFrame
Columns: [ReportType, CEID, CEName, TypeOfAgency, TypeOfOrg, ESC, TDARegion, SiteID, SiteName, CountyDistrictCode, CECounty, SiteCounty, ClaimDate, EnrollmentQty, FreeEligQty, RedcEligQty, PaidEligQty, BreakfastDays, BreakfastTotal, BreakfastADP, BreakfastServedFree, BreakfastServedRedc, BreakfastServedPaid, LunchDays, LunchTotal, LunchADP, LunchServedFree, LunchServedRedc, LunchServedPaid, SnackDays, SnackTotal, SnackADP, SnacksServedFree, SnacksServedRedc, SnacksServedPaid, MilkDays, Milktotal, MilkADP, MilkServedFree, MilkServedReduced, MilkServedPaid, BreakfastReimbursement, LunchReimbursement, SnackReimbursement, MilkReimbursement, TotalReimbursement]
Index: []

[0 rows x 46 columns]

No duplicates found

# Data wrangling

## Changing data types

### Data 1

In [18]:
data_1.describe()

,CEID,ESC,TDARegion,SiteID,EnrollmentQty,FreeEligQty,RedcEligQty,PaidEligQty,BreakfastDays,BreakfastTotal,...,Milktotal,MilkADP,MilkServedFree,MilkServedReduced,MilkServedPaid,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,MilkReimbursement,TotalReimbursement
count,20509.000000,20509.000000,20509.000000,20509.000000,20509.000000,20509.00000,20509.000000,20509.000000,20509.000000,20509.000000,...,20509.000000,20509.000000,20509.0,20509.0,20509.000000,20509.000000,20509.000000,20509.000000,20509.000000,20509.000000
mean,707.650934,8.315618,2.990931,107.953728,184.402799,102.47389,2.990980,35.381637,4.934273,925.780340,...,0.335462,0.016372,0.0,0.0,0.335462,2006.997598,4147.799124,435.864171,0.073802,6590.734695
std,759.829415,5.769185,1.131200,148.721881,349.541654,247.39117,13.030383,137.252335,8.852599,2412.561839,...,17.913373,0.865747,0.0,0.0,17.913373,5297.106562,10138.741459,990.602623,3.940942,15380.196380
min,2.000000,1.000000,1.000000,1.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,409.000000,4.000000,2.000000,41.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,78.000000
50%,528.000000,6.000000,3.000000,104.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,146.000000,0.000000,528.000000
75%,876.000000,12.000000,4.000000,122.000000,324.000000,89.00000,0.000000,0.000000,10.000000,110.000000,...,0.000000,0.000000,0.0,0.0,0.000000,155.820000,600.780000,582.000000,0.000000,2407.050000
max,7057.000000,20.000000,5.000000,2208.000000,18179.000000,16736.00000,325.000000,7996.000000,31.000000,31767.000000,...,1336.000000,63.620000,0.0,0.0,1336.000000,74652.450000,117945.000000,31415.000000,293.920000,224012.450000

The columns CEID, ESC, TDARegion, SiteID are codes and should not be quantitative variables.

In [19]:
#changing CEID, ESC, TDARegion, SiteID columns to string data type

data_1[['CEID', 'ESC', 'TDARegion', 'SiteID']] = data_1[['CEID', 'ESC', 'TDARegion', 'SiteID']].astype(str)

In [20]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20509 entries, 0 to 20508
Data columns (total 48 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ProgramYear             20509 non-null  object
 1   ReportType              20509 non-null  object
 2   CEID                    20509 non-null  object
 3   CEName                  20509 non-null  object
 4   TypeOfAgency            20509 non-null  object
 5   TypeOfOrg               20509 non-null  object
 6   ESC                     20509 non-null  object
 7   TDARegion               20509 non-null  object
 8   SiteID                  20509 non-null  object
 9   SiteName                20509 non-null  object
 10  COVIDMealSite           20509 non-null  object
 11  CountyDistrictCode      20509 non-null  object
 12  CECounty                20509 non-null  object
 13  SiteCounty              20509 non-null  object
 14  ClaimDate               20509 non-null  object
 15  EnrollmentQty           20509 non-null  float64
 16  FreeEligQty             20509 non-null  float64
 17  RedcEligQty             20509 non-null  float64
 18  PaidEligQty             20509 non-null  float64
 19  BreakfastDays           20509 non-null  float64
 20  BreakfastTotal          20509 non-null  float64
 21  BreakfastADP            20509 non-null  float64
 22  BreakfastServedFree     20509 non-null  float64
 23  BreakfastServedRedc     20509 non-null  float64
 24  BreakfastServedPaid     20509 non-null  float64
 25  LunchDays               20509 non-null  float64
 26  LunchTotal              20509 non-null  float64
 27  LunchADP                20509 non-null  float64
 28  LunchServedFree         20509 non-null  float64
 29  LunchServedRedc         20509 non-null  float64
 30  LunchServedPaid         20509 non-null  float64
 31  SnackDays               20509 non-null  float64
 32  SnackTotal              20509 non-null  float64
 33  SnackADP                20509 non-null  float64
 34  SnacksServedFree        20509 non-null  float64
 35  SnacksServedRedc        20509 non-null  float64
 36  SnacksServedPaid        20509 non-null  float64
 37  MilkDays                20509 non-null  float64
 38  Milktotal               20509 non-null  float64
 39  MilkADP                 20509 non-null  float64
 40  MilkServedFree          20509 non-null  float64
 41  MilkServedReduced       20509 non-null  float64
 42  MilkServedPaid          20509 non-null  float64
 43  BreakfastReimbursement  20509 non-null  float64
 44  LunchReimbursement      20509 non-null  float64
 45  SnackReimbursement      20509 non-null  float64
 46  MilkReimbursement       20509 non-null  float64
 47  TotalReimbursement      20509 non-null  float64
dtypes: float64(33), object(15)
memory usage: 7.5+ MB

### Data 2

In [21]:
data_2.describe()

,CEID,ESC,TDARegion,SiteID,CountyDistrictCode,EnrollmentQty,FreeEligQty,RedcEligQty,PaidEligQty,BreakfastDays,...,Milktotal,MilkADP,MilkServedFree,MilkServedReduced,MilkServedPaid,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,MilkReimbursement,TotalReimbursement
count,36433.000000,36433.000000,36433.000000,36433.000000,36371.000000,36433.000000,36433.000000,36433.000000,36433.000000,36433.000000,...,36433.000000,36433.000000,36433.0,36433.0,36433.000000,36433.000000,36433.000000,36433.000000,36433.00000,36433.000000
mean,711.821892,10.161365,2.777153,73.782724,115386.966842,473.577965,298.901134,16.998655,153.690061,13.901353,...,0.231356,0.012254,0.0,0.0,0.231356,2844.939601,6639.379057,86.335123,0.04685,9570.700630
std,764.972779,5.651685,1.183899,146.057435,76282.285280,491.492241,370.875828,31.722130,280.675012,7.452723,...,16.117503,0.835588,0.0,0.0,16.117503,3830.991545,7778.485514,410.902406,3.26379,11185.121542
min,1.000000,1.000000,1.000000,1.000000,4.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000
25%,286.000000,5.000000,2.000000,5.000000,57807.000000,189.000000,85.000000,0.000000,0.000000,9.000000,...,0.000000,0.000000,0.0,0.0,0.000000,368.380000,1159.200000,0.000000,0.00000,1687.680000
50%,621.000000,10.000000,3.000000,101.000000,101924.000000,394.000000,211.000000,0.000000,43.000000,15.000000,...,0.000000,0.000000,0.0,0.0,0.000000,1482.300000,4083.940000,0.000000,0.00000,5750.500000
75%,964.000000,14.000000,4.000000,105.000000,178912.000000,619.000000,415.000000,24.000000,195.000000,20.000000,...,0.000000,0.000000,0.0,0.0,0.000000,3895.680000,9511.200000,0.000000,0.00000,13667.700000
max,6815.000000,20.000000,5.000000,9005.000000,254902.000000,22292.000000,22292.000000,1120.000000,12124.000000,31.000000,...,1349.000000,67.450000,0.0,0.0,1349.000000,178386.320000,110847.600000,24000.960000,273.17000,178386.320000

The columns CEID, ESC, TDARegion, SiteID are codes and should not be quantitative variables.

In [22]:
#changing CEID, ESC, TDARegion, SiteID, CountyDistrictCode columns to string data type

data_2[['CEID', 'ESC', 'TDARegion', 'SiteID', 'CountyDistrictCode']] = data_2[['CEID', 'ESC', 'TDARegion', 'SiteID', 'CountyDistrictCode']].astype(str)

In [23]:
data_2.info()

<class 'pandas.core.frame.DataFrame'>
Index: 36433 entries, 2020-2021 to 2020-2021
Data columns (total 46 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ReportType              36433 non-null  object
 1   CEID                    36433 non-null  object
 2   CEName                  36433 non-null  object
 3   TypeOfAgency            36433 non-null  object
 4   TypeOfOrg               36433 non-null  object
 5   ESC                     36433 non-null  object
 6   TDARegion               36433 non-null  object
 7   SiteID                  36433 non-null  object
 8   SiteName                36433 non-null  object
 9   CountyDistrictCode      36433 non-null  object
 10  CECounty                36433 non-null  object
 11  SiteCounty              36433 non-null  object
 12  ClaimDate               36433 non-null  object
 13  EnrollmentQty           36433 non-null  float64
 14  FreeEligQty             36433 non-null  float64
 15  RedcEligQty             36433 non-null  float64
 16  PaidEligQty             36433 non-null  float64
 17  BreakfastDays           36433 non-null  float64
 18  BreakfastTotal          36433 non-null  float64
 19  BreakfastADP            36433 non-null  float64
 20  BreakfastServedFree     36433 non-null  float64
 21  BreakfastServedRedc     36433 non-null  float64
 22  BreakfastServedPaid     36433 non-null  float64
 23  LunchDays               36433 non-null  float64
 24  LunchTotal              36433 non-null  float64
 25  LunchADP                36433 non-null  float64
 26  LunchServedFree         36433 non-null  float64
 27  LunchServedRedc         36433 non-null  float64
 28  LunchServedPaid         36433 non-null  float64
 29  SnackDays               36433 non-null  float64
 30  SnackTotal              36433 non-null  float64
 31  SnackADP                36433 non-null  float64
 32  SnacksServedFree        36433 non-null  float64
 33  SnacksServedRedc        36433 non-null  float64
 34  SnacksServedPaid        36433 non-null  float64
 35  MilkDays                36433 non-null  float64
 36  Milktotal               36433 non-null  float64
 37  MilkADP                 36433 non-null  float64
 38  MilkServedFree          36433 non-null  float64
 39  MilkServedReduced       36433 non-null  float64
 40  MilkServedPaid          36433 non-null  float64
 41  BreakfastReimbursement  36433 non-null  float64
 42  LunchReimbursement      36433 non-null  float64
 43  SnackReimbursement      36433 non-null  float64
 44  MilkReimbursement       36433 non-null  float64
 45  TotalReimbursement      36433 non-null  float64
dtypes: float64(33), object(13)
memory usage: 13.1+ MB

## Removing columns

### Data 1

In [24]:
#removing milk-and snack related columns because they are not relevant to the analysis

data_1=data_1.drop(columns=['MilkDays','Milktotal', 'MilkADP', 'MilkServedFree', 'MilkServedReduced', 'MilkServedPaid', 'MilkReimbursement', 'SnackTotal', 'SnackADP', 'SnacksServedFree', 'SnacksServedRedc', 'SnacksServedPaid'])

In [25]:
data_1.shape

(20509, 36)

### Data 2

In [26]:
#removing milk and snack related columns because they are not relevant to the analysis

data_2=data_2.drop(columns=['MilkDays','Milktotal', 'MilkADP', 'MilkServedFree', 'MilkServedReduced', 'MilkServedPaid', 'MilkReimbursement', 'SnackTotal', 'SnackADP', 'SnacksServedFree', 'SnacksServedRedc', 'SnacksServedPaid'])

In [27]:
data_2.shape

(36433, 34)

In [28]:
#removing extras to get matching columns for the two datasets
data_1 = data_1.drop(columns=['ProgramYear'])

The only extra columns in data_1 is "COVIDMealSite"

## Adding columns - Data 1

In [29]:
#adding column of sum of total free and reduced price eligible students

data_1['TotalFreeRedcEligQty'] = data_1['FreeEligQty'] + data_1['RedcEligQty']
data_1.head()

,ReportType,CEID,CEName,TypeOfAgency,TypeOfOrg,ESC,TDARegion,SiteID,SiteName,COVIDMealSite,...,LunchADP,LunchServedFree,LunchServedRedc,LunchServedPaid,SnackDays,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,TotalReimbursement,TotalFreeRedcEligQty
0,SCHOOLNUTRITIONPROGRAMCLAIMS,4,NECHES ISD,Educational Institution,Public,7,2,102,NECHES ELEMENTARY,NO,...,0.00,0.0,0.0,0.0,19.0,0.00,0.00,263.0,263.00,250.0
1,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,1,PALESTINE H S,NO,...,613.07,7653.0,0.0,930.0,0.0,6436.46,29107.95,0.0,35544.41,922.0
2,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,41,PALESTINE MIDDLE,NO,...,365.64,4565.0,0.0,554.0,14.0,3522.97,17362.51,45.0,20930.48,444.0
3,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,101,NORTHSIDE PRI,NO,...,286.79,3580.0,0.0,435.0,14.0,2103.31,13616.40,32.0,15751.71,436.0
4,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,102,WASHINGTON EARLY CHILDHOOD CENTER,NO,...,177.14,2211.0,0.0,269.0,0.0,5449.41,8409.61,0.0,13859.02,201.0

### Normalized Columns

Note: I'm adding these columns to both data sets before merging for future visualization purposes

#### Normalized Free/Reduced Price Lunch Eligibility Column

In [30]:
#creating new column for normalized number of students eligible for free/redc price lunch
data_1['Normalized_FreeRedcElig'] = (data_1['TotalFreeRedcEligQty'] / data_1['EnrollmentQty']) * 100

In [31]:
data_1['Normalized_FreeRedcElig']

0        100.000000
1         89.168279
2         89.156627
3         89.161554
4         89.333333
            ...
20504     84.943182
20505     84.839650
20506     84.839650
20507     84.911243
20508     84.894260
Name: Normalized_FreeRedcElig, Length: 20509, dtype: float64

In [32]:
data_1.shape

(20509, 37)

In [33]:
data_1.head()

,ReportType,CEID,CEName,TypeOfAgency,TypeOfOrg,ESC,TDARegion,SiteID,SiteName,COVIDMealSite,...,LunchServedFree,LunchServedRedc,LunchServedPaid,SnackDays,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,TotalReimbursement,TotalFreeRedcEligQty,Normalized_FreeRedcElig
0,SCHOOLNUTRITIONPROGRAMCLAIMS,4,NECHES ISD,Educational Institution,Public,7,2,102,NECHES ELEMENTARY,NO,...,0.0,0.0,0.0,19.0,0.00,0.00,263.0,263.00,250.0,100.000000
1,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,1,PALESTINE H S,NO,...,7653.0,0.0,930.0,0.0,6436.46,29107.95,0.0,35544.41,922.0,89.168279
2,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,41,PALESTINE MIDDLE,NO,...,4565.0,0.0,554.0,14.0,3522.97,17362.51,45.0,20930.48,444.0,89.156627
3,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,101,NORTHSIDE PRI,NO,...,3580.0,0.0,435.0,14.0,2103.31,13616.40,32.0,15751.71,436.0,89.161554
4,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,102,WASHINGTON EARLY CHILDHOOD CENTER,NO,...,2211.0,0.0,269.0,0.0,5449.41,8409.61,0.0,13859.02,201.0,89.333333

#### Normalized Lunch Avg Daily Participation Column

In [34]:
#creating new column for normalized average daily lunch particiption
data_1['Normalized_LunchADP'] = (data_1['LunchADP']/ data_1['EnrollmentQty']) *100

In [35]:
data_1['Normalized_LunchADP']

0         0.000000
1        59.291103
2        73.421687
3        58.648262
4        78.728889
           ...
20504    90.491477
20505    93.708455
20506    90.787172
20507    87.278107
20508    85.900302
Name: Normalized_LunchADP, Length: 20509, dtype: float64

In [36]:
data_1.shape

(20509, 38)

In [37]:
data_1.head()

,ReportType,CEID,CEName,TypeOfAgency,TypeOfOrg,ESC,TDARegion,SiteID,SiteName,COVIDMealSite,...,LunchServedRedc,LunchServedPaid,SnackDays,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,TotalReimbursement,TotalFreeRedcEligQty,Normalized_FreeRedcElig,Normalized_LunchADP
0,SCHOOLNUTRITIONPROGRAMCLAIMS,4,NECHES ISD,Educational Institution,Public,7,2,102,NECHES ELEMENTARY,NO,...,0.0,0.0,19.0,0.00,0.00,263.0,263.00,250.0,100.000000,0.000000
1,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,1,PALESTINE H S,NO,...,0.0,930.0,0.0,6436.46,29107.95,0.0,35544.41,922.0,89.168279,59.291103
2,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,41,PALESTINE MIDDLE,NO,...,0.0,554.0,14.0,3522.97,17362.51,45.0,20930.48,444.0,89.156627,73.421687
3,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,101,NORTHSIDE PRI,NO,...,0.0,435.0,14.0,2103.31,13616.40,32.0,15751.71,436.0,89.161554,58.648262
4,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,102,WASHINGTON EARLY CHILDHOOD CENTER,NO,...,0.0,269.0,0.0,5449.41,8409.61,0.0,13859.02,201.0,89.333333,78.728889

#### Normalized Total Lunch Participation Column

In [38]:
#creating new column for normalized average daily lunch particiption
data_1['Normalized_LunchTotal'] = (data_1['LunchTotal']/ data_1['EnrollmentQty']) *100

In [39]:
data_1['Normalized_LunchTotal']

0           0.000000
1         830.077369
2        1027.911647
3         821.063395
4        1102.222222
            ...
20504    1538.352273
20505    1124.489796
20506    1815.743440
20507     261.834320
20508     515.407855
Name: Normalized_LunchTotal, Length: 20509, dtype: float64

In [40]:
data_1.shape

(20509, 39)

In [41]:
data_1.head()

,ReportType,CEID,CEName,TypeOfAgency,TypeOfOrg,ESC,TDARegion,SiteID,SiteName,COVIDMealSite,...,LunchServedPaid,SnackDays,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,TotalReimbursement,TotalFreeRedcEligQty,Normalized_FreeRedcElig,Normalized_LunchADP,Normalized_LunchTotal
0,SCHOOLNUTRITIONPROGRAMCLAIMS,4,NECHES ISD,Educational Institution,Public,7,2,102,NECHES ELEMENTARY,NO,...,0.0,19.0,0.00,0.00,263.0,263.00,250.0,100.000000,0.000000,0.000000
1,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,1,PALESTINE H S,NO,...,930.0,0.0,6436.46,29107.95,0.0,35544.41,922.0,89.168279,59.291103,830.077369
2,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,41,PALESTINE MIDDLE,NO,...,554.0,14.0,3522.97,17362.51,45.0,20930.48,444.0,89.156627,73.421687,1027.911647
3,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,101,NORTHSIDE PRI,NO,...,435.0,14.0,2103.31,13616.40,32.0,15751.71,436.0,89.161554,58.648262,821.063395
4,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,102,WASHINGTON EARLY CHILDHOOD CENTER,NO,...,269.0,0.0,5449.41,8409.61,0.0,13859.02,201.0,89.333333,78.728889,1102.222222

## Adding Columns - Data 2

In [42]:
#adding column of sum of total free and reduced price eligible students

data_2['TotalFreeRedcEligQty'] = data_2['FreeEligQty'] + data_2['RedcEligQty']
data_2.head()

,ReportType,CEID,CEName,TypeOfAgency,TypeOfOrg,ESC,TDARegion,SiteID,SiteName,CountyDistrictCode,...,LunchADP,LunchServedFree,LunchServedRedc,LunchServedPaid,SnackDays,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,TotalReimbursement,TotalFreeRedcEligQty
ProgramYear,,,,,,,,,,,,,,,,,,,,,
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,1034,ABILENE ISD,Educational Institution,Public,14,1,112,Jose Alcorta Sr. Elementary,221901.0,...,262.40,2700.0,317.0,919.0,15.0,2564.44,11120.38,274.56,13959.38,309.0
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,844,NACOGDOCHES ISD,Educational Institution,Public,7,3,5,Margie Chumbley Academy for Success,174904.0,...,13.47,202.0,0.0,0.0,0.0,246.34,727.20,0.00,973.54,87.0
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,330,FAITH FAMILY KIDS INC,Educational Institution,Charter,10,2,2,OAK CLIFF FAITH FAMILY ACADEMY,70801.0,...,734.00,11744.0,0.0,0.0,0.0,21657.58,42278.40,0.00,63935.98,2397.0
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,1657,NEWMAN INTERNATIONAL SCHOOL OF ARLINGTON,Educational Institution,Charter,11,2,3,NEWMAN INTERNATIONAL ACADEMY OF ARLINGTON GIBBINS,220817.0,...,0.00,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,703,MUNDAY CISD,Educational Institution,Public,9,1,1,MUNDAY SECONDARY,138903.0,...,101.67,1385.0,0.0,445.0,0.0,1767.60,5172.90,0.00,6940.50,119.0

#### Normalized Free/Reduced Price Lunch Eligibility Column

In [43]:
#creating new column for normalized number of students eligible for free/redc price lunch
data_2['Normalized_FreeRedcElig'] = (data_2['TotalFreeRedcEligQty'] / data_2['EnrollmentQty']) * 100

In [44]:
data_2['Normalized_FreeRedcElig']

ProgramYear
2020-2021     66.025641
2020-2021    100.000000
2020-2021    100.000000
2020-2021           NaN
2020-2021     75.796178
                ...
2020-2021     56.170213
2020-2021     63.768116
2020-2021     63.768116
2020-2021    100.000000
2020-2021    100.000000
Name: Normalized_FreeRedcElig, Length: 36433, dtype: float64

In [45]:
data_2.shape

(36433, 36)

In [46]:
data_2.head()

,ReportType,CEID,CEName,TypeOfAgency,TypeOfOrg,ESC,TDARegion,SiteID,SiteName,CountyDistrictCode,...,LunchServedFree,LunchServedRedc,LunchServedPaid,SnackDays,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,TotalReimbursement,TotalFreeRedcEligQty,Normalized_FreeRedcElig
ProgramYear,,,,,,,,,,,,,,,,,,,,,
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,1034,ABILENE ISD,Educational Institution,Public,14,1,112,Jose Alcorta Sr. Elementary,221901.0,...,2700.0,317.0,919.0,15.0,2564.44,11120.38,274.56,13959.38,309.0,66.025641
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,844,NACOGDOCHES ISD,Educational Institution,Public,7,3,5,Margie Chumbley Academy for Success,174904.0,...,202.0,0.0,0.0,0.0,246.34,727.20,0.00,973.54,87.0,100.000000
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,330,FAITH FAMILY KIDS INC,Educational Institution,Charter,10,2,2,OAK CLIFF FAITH FAMILY ACADEMY,70801.0,...,11744.0,0.0,0.0,0.0,21657.58,42278.40,0.00,63935.98,2397.0,100.000000
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,1657,NEWMAN INTERNATIONAL SCHOOL OF ARLINGTON,Educational Institution,Charter,11,2,3,NEWMAN INTERNATIONAL ACADEMY OF ARLINGTON GIBBINS,220817.0,...,0.0,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,NaN
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,703,MUNDAY CISD,Educational Institution,Public,9,1,1,MUNDAY SECONDARY,138903.0,...,1385.0,0.0,445.0,0.0,1767.60,5172.90,0.00,6940.50,119.0,75.796178

#### Normalized Lunch Avg Daily Participation Column

In [47]:
#creating new column for normalized average daily lunch particiption
data_2['Normalized_LunchADP'] = (data_2['LunchADP']/ data_2['EnrollmentQty']) *100

In [48]:
data_2['Normalized_LunchADP']

ProgramYear
2020-2021    56.068376
2020-2021    15.482759
2020-2021    30.621610
2020-2021          NaN
2020-2021    64.757962
               ...
2020-2021    42.914894
2020-2021    53.792271
2020-2021    39.937198
2020-2021    42.230769
2020-2021    58.918919
Name: Normalized_LunchADP, Length: 36433, dtype: float64

In [49]:
data_2.shape

(36433, 37)

In [51]:
data_2.head()

,ReportType,CEID,CEName,TypeOfAgency,TypeOfOrg,ESC,TDARegion,SiteID,SiteName,CountyDistrictCode,...,LunchServedRedc,LunchServedPaid,SnackDays,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,TotalReimbursement,TotalFreeRedcEligQty,Normalized_FreeRedcElig,Normalized_LunchADP
ProgramYear,,,,,,,,,,,,,,,,,,,,,
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,1034,ABILENE ISD,Educational Institution,Public,14,1,112,Jose Alcorta Sr. Elementary,221901.0,...,317.0,919.0,15.0,2564.44,11120.38,274.56,13959.38,309.0,66.025641,56.068376
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,844,NACOGDOCHES ISD,Educational Institution,Public,7,3,5,Margie Chumbley Academy for Success,174904.0,...,0.0,0.0,0.0,246.34,727.20,0.00,973.54,87.0,100.000000,15.482759
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,330,FAITH FAMILY KIDS INC,Educational Institution,Charter,10,2,2,OAK CLIFF FAITH FAMILY ACADEMY,70801.0,...,0.0,0.0,0.0,21657.58,42278.40,0.00,63935.98,2397.0,100.000000,30.621610
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,1657,NEWMAN INTERNATIONAL SCHOOL OF ARLINGTON,Educational Institution,Charter,11,2,3,NEWMAN INTERNATIONAL ACADEMY OF ARLINGTON GIBBINS,220817.0,...,0.0,0.0,0.0,0.00,0.00,0.00,0.00,0.0,NaN,NaN
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,703,MUNDAY CISD,Educational Institution,Public,9,1,1,MUNDAY SECONDARY,138903.0,...,0.0,445.0,0.0,1767.60,5172.90,0.00,6940.50,119.0,75.796178,64.757962

#### Normalized Total Lunch Participation Column

In [54]:
#creating new column for normalized average daily lunch particiption
data_2['Normalized_LunchTotal'] = (data_2['LunchTotal']/ data_2['EnrollmentQty']) *100

In [55]:
data_2['Normalized_LunchTotal']

ProgramYear
2020-2021     841.025641
2020-2021     232.183908
2020-2021     489.945766
2020-2021            NaN
2020-2021    1165.605096
                ...
2020-2021     858.297872
2020-2021    1075.845411
2020-2021     239.613527
2020-2021     717.948718
2020-2021    1178.378378
Name: Normalized_LunchTotal, Length: 36433, dtype: float64

In [56]:
data_2.shape

(36433, 38)

In [58]:
data_2.head()

,ReportType,CEID,CEName,TypeOfAgency,TypeOfOrg,ESC,TDARegion,SiteID,SiteName,CountyDistrictCode,...,LunchServedPaid,SnackDays,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,TotalReimbursement,TotalFreeRedcEligQty,Normalized_FreeRedcElig,Normalized_LunchADP,Normalized_LunchTotal
ProgramYear,,,,,,,,,,,,,,,,,,,,,
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,1034,ABILENE ISD,Educational Institution,Public,14,1,112,Jose Alcorta Sr. Elementary,221901.0,...,919.0,15.0,2564.44,11120.38,274.56,13959.38,309.0,66.025641,56.068376,841.025641
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,844,NACOGDOCHES ISD,Educational Institution,Public,7,3,5,Margie Chumbley Academy for Success,174904.0,...,0.0,0.0,246.34,727.20,0.00,973.54,87.0,100.000000,15.482759,232.183908
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,330,FAITH FAMILY KIDS INC,Educational Institution,Charter,10,2,2,OAK CLIFF FAITH FAMILY ACADEMY,70801.0,...,0.0,0.0,21657.58,42278.40,0.00,63935.98,2397.0,100.000000,30.621610,489.945766
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,1657,NEWMAN INTERNATIONAL SCHOOL OF ARLINGTON,Educational Institution,Charter,11,2,3,NEWMAN INTERNATIONAL ACADEMY OF ARLINGTON GIBBINS,220817.0,...,0.0,0.0,0.00,0.00,0.00,0.00,0.0,NaN,NaN,NaN
2020-2021,SCHOOLNUTRITIONPROGRAMCLAIMS,703,MUNDAY CISD,Educational Institution,Public,9,1,1,MUNDAY SECONDARY,138903.0,...,445.0,0.0,1767.60,5172.90,0.00,6940.50,119.0,75.796178,64.757962,1165.605096

# Calculating basic descriptive statistics

### Data 1

In [59]:
data_1.describe()

,EnrollmentQty,FreeEligQty,RedcEligQty,PaidEligQty,BreakfastDays,BreakfastTotal,BreakfastADP,BreakfastServedFree,BreakfastServedRedc,BreakfastServedPaid,...,LunchServedPaid,SnackDays,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,TotalReimbursement,TotalFreeRedcEligQty,Normalized_FreeRedcElig,Normalized_LunchADP,Normalized_LunchTotal
count,20509.000000,20509.00000,20509.000000,20509.000000,20509.000000,20509.000000,20509.000000,20509.000000,20509.000000,20509.000000,...,20509.000000,20509.000000,20509.000000,20509.000000,20509.000000,20509.000000,20509.000000,8273.000000,8273.000000,8273.000000
mean,184.402799,102.47389,2.990980,35.381637,4.934273,925.780340,51.103375,847.097421,9.564776,69.118143,...,128.967478,8.979472,2006.997598,4147.799124,435.864171,6590.734695,105.464869,64.345749,43.117344,833.660574
std,349.541654,247.39117,13.030383,137.252335,8.852599,2412.561839,130.672329,2235.378517,69.299616,247.247361,...,499.820346,9.006062,5297.106562,10138.741459,990.602623,15380.196380,251.943491,40.001869,36.235226,787.190620
min,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,78.000000,0.000000,21.686747,0.000000,0.000000
50%,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,8.000000,0.000000,0.000000,146.000000,528.000000,0.000000,88.190476,52.773973,885.714286
75%,324.000000,89.00000,0.000000,0.000000,10.000000,110.000000,5.610000,51.000000,0.000000,0.000000,...,0.000000,17.000000,155.820000,600.780000,582.000000,2407.050000,98.000000,100.000000,77.096852,1410.057471
max,18179.000000,16736.00000,325.000000,7996.000000,31.000000,31767.000000,1027.470000,31767.000000,1629.000000,4539.000000,...,8124.000000,31.000000,74652.450000,117945.000000,31415.000000,224012.450000,16736.000000,100.000000,100.000000,3100.000000

### Data 2

In [60]:
data_2.describe()

,EnrollmentQty,FreeEligQty,RedcEligQty,PaidEligQty,BreakfastDays,BreakfastTotal,BreakfastADP,BreakfastServedFree,BreakfastServedRedc,BreakfastServedPaid,...,LunchServedPaid,SnackDays,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,TotalReimbursement,TotalFreeRedcEligQty,Normalized_FreeRedcElig,Normalized_LunchADP,Normalized_LunchTotal
count,36433.000000,36433.000000,36433.000000,36433.000000,36433.000000,36433.000000,36433.000000,36433.000000,36433.000000,36433.000000,...,36433.000000,36433.000000,36433.000000,36433.000000,36433.000000,36433.000000,36433.000000,33588.000000,33588.000000,33588.000000
mean,473.577965,298.901134,16.998655,153.690061,13.901353,1409.635193,89.060008,1203.363187,42.426262,163.845744,...,443.322318,2.718195,2844.939601,6639.379057,86.335123,9570.700630,315.899789,71.024376,37.944875,645.148989
std,491.492241,370.875828,31.722130,280.675012,7.452723,1789.966953,101.673025,1670.182709,90.314222,339.323563,...,810.163436,6.739425,3830.991545,7778.485514,410.902406,11185.121542,380.458968,29.274732,24.622250,544.898458
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,189.000000,85.000000,0.000000,0.000000,9.000000,211.000000,17.430000,148.000000,0.000000,0.000000,...,0.000000,0.000000,368.380000,1159.200000,0.000000,1687.680000,97.000000,48.395707,17.111030,194.404762
50%,394.000000,211.000000,0.000000,43.000000,15.000000,793.000000,56.710000,604.000000,0.000000,27.000000,...,61.000000,0.000000,1482.300000,4083.940000,0.000000,5750.500000,230.000000,78.562128,37.098856,564.050799
75%,619.000000,415.000000,24.000000,195.000000,20.000000,1969.000000,128.630000,1620.000000,44.000000,183.000000,...,558.000000,0.000000,3895.680000,9511.200000,0.000000,13667.700000,438.000000,100.000000,56.305743,967.017099
max,22292.000000,22292.000000,1120.000000,12124.000000,31.000000,78932.000000,3758.670000,78932.000000,1385.000000,5330.000000,...,10376.000000,31.000000,178386.320000,110847.600000,24000.960000,178386.320000,22292.000000,100.000000,100.000000,3100.000000

# Merging the two dataframes

In [61]:
#removing COVIDMealSite column to be able to append df1 and df 2
data_1_5 = data_1.drop(columns=['COVIDMealSite'])

In [62]:
#appending data frames
merged_df = data_1_5.append(data_2, ignore_index=False, verify_integrity=False, sort=False)

C:\Users\Admin\AppData\Local\Temp\ipykernel_7464\3119043707.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  merged_df = data_1_5.append(data_2, ignore_index=False, verify_integrity=False, sort=False)

In [63]:
merged_df.head()

,ReportType,CEID,CEName,TypeOfAgency,TypeOfOrg,ESC,TDARegion,SiteID,SiteName,CountyDistrictCode,...,LunchServedPaid,SnackDays,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,TotalReimbursement,TotalFreeRedcEligQty,Normalized_FreeRedcElig,Normalized_LunchADP,Normalized_LunchTotal
0,SCHOOLNUTRITIONPROGRAMCLAIMS,4,NECHES ISD,Educational Institution,Public,7,2,102,NECHES ELEMENTARY,001-906,...,0.0,19.0,0.00,0.00,263.0,263.00,250.0,100.000000,0.000000,0.000000
1,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,1,PALESTINE H S,001-907,...,930.0,0.0,6436.46,29107.95,0.0,35544.41,922.0,89.168279,59.291103,830.077369
2,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,41,PALESTINE MIDDLE,001-907,...,554.0,14.0,3522.97,17362.51,45.0,20930.48,444.0,89.156627,73.421687,1027.911647
3,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,101,NORTHSIDE PRI,001-907,...,435.0,14.0,2103.31,13616.40,32.0,15751.71,436.0,89.161554,58.648262,821.063395
4,SCHOOLNUTRITIONPROGRAMCLAIMS,5,PALESTINE ISD,Educational Institution,Public,7,2,102,WASHINGTON EARLY CHILDHOOD CENTER,001-907,...,269.0,0.0,5449.41,8409.61,0.0,13859.02,201.0,89.333333,78.728889,1102.222222

In [64]:
merged_df.columns

Index(['ReportType', 'CEID', 'CEName', 'TypeOfAgency', 'TypeOfOrg', 'ESC',
       'TDARegion', 'SiteID', 'SiteName', 'CountyDistrictCode', 'CECounty',
       'SiteCounty', 'ClaimDate', 'EnrollmentQty', 'FreeEligQty',
       'RedcEligQty', 'PaidEligQty', 'BreakfastDays', 'BreakfastTotal',
       'BreakfastADP', 'BreakfastServedFree', 'BreakfastServedRedc',
       'BreakfastServedPaid', 'LunchDays', 'LunchTotal', 'LunchADP',
       'LunchServedFree', 'LunchServedRedc', 'LunchServedPaid', 'SnackDays',
       'BreakfastReimbursement', 'LunchReimbursement', 'SnackReimbursement',
       'TotalReimbursement', 'TotalFreeRedcEligQty', 'Normalized_FreeRedcElig',
       'Normalized_LunchADP', 'Normalized_LunchTotal'],
      dtype='object')

In [65]:
merged_df.describe()

,EnrollmentQty,FreeEligQty,RedcEligQty,PaidEligQty,BreakfastDays,BreakfastTotal,BreakfastADP,BreakfastServedFree,BreakfastServedRedc,BreakfastServedPaid,...,LunchServedPaid,SnackDays,BreakfastReimbursement,LunchReimbursement,SnackReimbursement,TotalReimbursement,TotalFreeRedcEligQty,Normalized_FreeRedcElig,Normalized_LunchADP,Normalized_LunchTotal
count,56942.000000,56942.000000,56942.000000,56942.000000,56942.000000,56942.000000,56942.000000,56942.000000,56942.000000,56942.000000,...,56942.000000,56942.000000,56942.000000,56942.000000,56942.000000,56942.000000,56942.000000,41861.000000,41861.000000,41861.000000
mean,369.424730,228.153244,11.953461,111.078501,10.671648,1235.363493,75.389034,1075.045696,30.590425,129.727372,...,330.100032,4.973341,2543.135089,5741.977967,212.226227,8497.395840,240.106705,69.704478,38.967112,682.404581
std,466.726137,344.878304,27.390097,245.793566,9.071566,2049.446948,114.437571,1900.982961,84.836972,312.656838,...,729.866010,8.204118,4433.739360,8784.384248,699.719359,12934.023132,354.513658,31.794893,27.388725,605.245750
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,461.000000,0.000000,46.527778,14.558824,154.983923
50%,287.000000,127.000000,0.000000,1.000000,13.000000,392.000000,29.630000,280.000000,0.000000,0.000000,...,0.000000,0.000000,702.655000,2183.310000,0.000000,3104.915000,141.000000,80.468750,38.378151,591.330344
75%,551.000000,346.000000,15.000000,120.000000,18.000000,1611.000000,105.412500,1314.000000,13.000000,118.000000,...,326.000000,11.000000,3182.565000,7949.845000,169.980000,11388.340000,367.000000,100.000000,60.802740,1052.258065
max,22292.000000,22292.000000,1120.000000,12124.000000,31.000000,78932.000000,3758.670000,78932.000000,1629.000000,5330.000000,...,10376.000000,31.000000,178386.320000,117945.000000,31415.000000,224012.450000,22292.000000,100.000000,100.000000,3100.000000

# Exporting data

In [66]:
data_1.to_csv(os.path.join(path,'SchoolNutritionPrograms_Clean.csv'))

In [67]:
data_2.to_csv(os.path.join(path,'SchoolNutritionPrograms_2_Clean.csv'))

In [68]:
merged_df.to_csv(os.path.join(path,'SchoolNutritionPrograms_Merged.csv'))